p{
    font-size: 14px;
    
    margin-top: 0;
    margin-bottom: 0;
}
body{
    
    margin: 0;
    padding-top: 80px;
    padding-left: 110PX;
    padding-right: 25px;
    background-color: rgb(247, 246, 246);
}